/*************** Table ***************/
.hide_text{
    width: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.desc-image{
    max-width: 750px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
textarea{
    width:100%;
}
.title-image{
    max-width: 300px;
}
.image-gallery{
    max-width: 100px;
}
