/*************** Nav bar ***************/
.menu {
    z-index: 9999;
    width: 100%;
}

@media (max-width: 1000px) {
    .menu {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media (min-width: 1000px) {
    .menu {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.select_lang {
    background-color: transparent;
    border: 0;
}

.menu .container-fluid .collapse ul li select {
    color: white;
    font-size: 25px;
}

.select_lang option {
    color: black;
}

.nav-text {
    font-size: 30px;
}

.menu .container-fluid .collapse ul li a {
    letter-spacing: 3px;
    margin: 0 30px;
    color: white;
}

/*************** END Nav bar ***************/
/*************** Home Page ***************/
.mainBackground {
    height: 100vh;
    width: 100%;
    object-fit: fill;
}

.logo-title1 {
    width: 100px;
    height: 100px;
    float: left;
    border: 0 black solid;
    border-radius: 10px;
}

.textBlock h2 {
    letter-spacing: 3px;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: calc(20px + 50 * ((100vw - 320px) / (1350 - 320)));
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    text-shadow: calc(3px + 2 * ((100vw - 320px) / (1280 - 320))) calc(3px + 2 * ((100vw - 320px) / (1280 - 320))) rgba(0, 0, 0, 0.7);
}

.textBlock {
    align-items: center;
    color: #cbe065;
    min-width: 200px;
    display: flex;
    position: absolute;
    top: 20vh;
    left: 2vw;
    background-color: rgba(0, 0, 0, 0);
}

.logo-title2 {
    width: 100px;
    height: 100px;
    float: left;
    border: 0 black solid;
    border-radius: 50%;
}

.textBlock2 h3 {
    -webkit-text-size-adjust: 100%;
    letter-spacing: 3px;
    line-height: 1.65;
    word-wrap: anywhere;
    word-break: break-word;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: calc(15px + 16 * ((100vw - 320px) / (1280 - 320)));
    text-transform: uppercase;
    text-align: left;
    margin-left: auto;
    display: inline-block;
    text-shadow: calc(3px + 1 * ((100vw - 320px) / (1280 - 320))) calc(3px + 1 * ((100vw - 320px) / (1280 - 320))) rgba(0, 0, 0, 0.7);
}

.textBlock2 {
    color: white;
    min-width: 300px;
    display: flex;
    position: absolute;
    top: 35vh;
    left: 2vw;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
}

/*************** END Home Page ***************/
/*************** Title ***************/
@import "https://fonts.googleapis.com/css?family=Russo+One";
h1.funny-title {
    border-top: 5px solid #E0DBDE;
    border-bottom: 5px solid #E0DBDE;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
    letter-spacing: 8px;
    padding: 30px 0 30px 0;
    font-size: 4em;
}

@media (max-width: 600px) {
    .section-title {
        color: #2e5c4d;
    }
}

@media (min-width: 600px) {
    @-webkit-keyframes move-background {
        0% {
            background-position: -300px 0
        }
        100% {
            background-position: 300px -100px
        }
    }

    @-moz-keyframes move-background {
        0% {
            background-position: -300px 0
        }
        100% {
            background-position: 300px -300px
        }
    }

    @keyframes move-background {
        0% {
            background-position: -300px 0
        }
        100% {
            background-position: 300px -300px
        }
    }
    .section-title {
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        animation-play-state: running;
        color: transparent;
        background: url("../images/background.JPG") no-repeat #ECE7EA;
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-animation: move-background 20s infinite linear alternate;
        -moz-animation: move-background 20s infinite linear alternate;
        animation: move-background 20s infinite linear alternate;
        text-transform: uppercase;
    }
}

/*************** END Title ***************/
/*************** Logos ***************/
.logos {
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 80px;
}

.logo {
    display: inline-block;
    height: inherit;
    width: auto;
    margin: 0 20px 0 20px;
}

/*************** END Logos ***************/
/*************** Socials ***************/
.header-title {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.socials {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin: 0 30px 30px 0;
    padding: 6px;
    color: #000;
}

.youtube a:hover {
    background: #c4302b;
    color: #fff;
}

.instagram a:hover {
    background: #ff8bfc;
    color: #fff;
}

.facebook a:hover {
    background: #3b5998;
    color: #fff;
}

.linkedin a:hover {
    background: #0e76a8;
    color: #fff;
}

/*************** END Socials ***************/
/*************** Footer ***************/
.footer {
    display: block;
}

.list li {
    list-style-type: none;
}

.list li a:hover {
    color: black;
}


.list {
    margin-left: 0;
    padding-left: 0;
}

/*************** END Footer ***************/
@media (max-width: 600px) {
    .tile {
        width: calc(100% - 20px);
    }
}

@media (min-width: 600px) {
    .tile {
        width: 300px;
    }
}

.tile {
    height: 300px;
    border: 0 black solid;
    border-radius: 10px;
    float: left;
    display: flex;
    margin: 10px;
    object-fit: cover;
}

/*************** Team ***************/
@media (min-width: 600px) {
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
}

@media (max-width: 600px) {
    .img-square-wrapper {
        margin: auto;
        padding: 10px;
    }
}

.card-image {
    border: 0;
    border-radius: 50%;
    max-width: 300px;
    width: 300px;
    height: 300px;
    margin: calc(20px + 20 * ((100vw - 320px) / (1350 - 320)));
    box-shadow: 0 8px 20px -4px #95abbb;
    display: inline-block;
}

.card-body {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card-body h4 {
    clear: left;
    color: #2e5c4d;
    font-size: calc(30px + 20 * ((100vw - 320px) / (1350 - 320)));
    font-weight: bold;
}

.card p {
    font-weight: bold;
    color: #00225f;
    width: 100%;
    font-size: calc(15px + 10 * ((100vw - 320px) / (1350 - 320)));
}

.card {
    min-width: 300px;
    background: #fff;
    margin: 0 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 8px 30px -7px #c9dff0;
}

.owl-stage-outer {
    padding: 30px 0;
}

.owl-nav {
    display: none;
}

.owl-dots {
    text-align: center;
}

.owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #2e5c4d;
    margin: 0 5px;
}

.owl-dots .active {
    box-shadow: none;
}

.owl-dots .active span {
    background: #2e5c4d;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
}
