/*************** Nav bar ***************/
.menu {
    /*background-color: #316fd0;*/
    background: url("../images/background.JPG") no-repeat #ECE7EA;
    width: 100%;
}

.select_lang {
    background-color: transparent;
    border: 0;
}

.select_lang option {
    color: black;
}

.main {
    margin-top: 70px;
}

.nav-text {
    font-size: 30px;
}

/*************** END Home Page ***************/
/*************** Title ***************/
@import "https://fonts.googleapis.com/css?family=Russo+One";
h1.funny-title {
    border-top: 5px solid #E0DBDE;
    border-bottom: 5px solid #E0DBDE;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
    letter-spacing: 8px;
    padding: 30px 0 30px 0;
    font-size: 5em;
}

@-webkit-keyframes move-background {
    0% {
        background-position: -300px 0
    }
    100% {
        background-position: 300px -300px
    }
}

@-moz-keyframes move-background {
    0% {
        background-position: -300px 0
    }
    100% {
        background-position: 300px -300px
    }
}

@keyframes move-background {
    0% {
        background-position: -300px 0
    }
    100% {
        background-position: 300px -300px
    }
}

.section-title {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
    color: transparent;
    background: url("../images/background.JPG") no-repeat #ECE7EA;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation: move-background 20s infinite linear alternate;
    -moz-animation: move-background 20s infinite linear alternate;
    animation: move-background 20s infinite linear alternate;
    text-transform: uppercase;
}

/*************** END Title ***************/
/*************** Main Content About ***************/
.poster {
    float: left;
    padding: 0 20px 20px 0;
}

.poster img {
    max-width: 500px;
}

.custom_table, .custom_table tr, .custom_table td {
    font-weight: bold;
    margin: 20px auto 20px auto;
    border: black 1px solid;
}

.main_text {
    text-align: justify;
}

/*************** END Main Content About ***************/
/*************** Logos ***************/
.logos {
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 80px;
    /*box-sizing: border-box;*/
    /*width: 700px;*/
}

.logo {
    display: inline-block;
    /*float: left;*/
    height: inherit;
    width: auto;
    padding: 0 20px 0 20px;
}

/*************** END Logos ***************/

